@model IEnumerable<PageAdmin.Models.Feedback>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="card-content">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Latest Transaction</h4>
            <div class="table-responsive">
                <table>
                    <thead>
                        <tr>
                            <th>Subject</th>
                            <th>Message</th>
                            <th>NumberPhone</th>
                            <th>Email</th>
                            <th>FullName</th>
                            <th>Feedback Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Subject)
                            </td>

                            <td>@Html.DisplayFor(model => item.Message)</td>
                            <td>
                                @Html.DisplayFor(model => item.NumberPhone)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.FeedbackDate)
                            </td>
                        </tr>
                        }
                        </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

