@model PageAdmin.Models.Category

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Category</h4>
    <hr />
    <div class="card-content">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Latest Transaction</h4>
                <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CategoryImage)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CategoryIcon)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => model.CategoryName)
                                </td>

                                <td><img src="@Model.CategoryImage" alt="Alternate Text" style="height: 70px" /></td>
                                <td>
                                    @Html.DisplayNameFor(model => model.CategoryIcon)

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div style="padding: 21px; margin-top: 10px">
            <form asp-action="Delete">
                <input type="hidden" asp-for="CategoryID" />
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a asp-action="Index" class="create-product" style="margin-left: 20px">Back to List</a>
            </form>
        </div>
    </div>
</div>


