@model PageAdmin.Models.Category

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Category</h4>
    <hr />

    <div class="card-content">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Latest Transaction</h4>
                <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CategoryName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CategoryImage)

                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CategoryIcon)

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => model.CategoryName)
                                </td>

                                <td><img src="@Model.CategoryImage" alt="Alternate Text" style="height: 70px" /></td>
                                <td>
                                    @Html.DisplayFor(model => model.CategoryIcon)

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div style="padding: 21px; margin-top: 10px">
            <a asp-action="Edit" asp-route-id="@Model.CategoryID" class="btn btn-danger">Edit</a>
            <a asp-action="Index" class="create-product" style="margin-left: 20px">Back to List</a>
        </div>
    </div>
</div>

