@model IEnumerable<PageAdmin.Models.Movie>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="create-product">Create New</a>
</p>


<div class="card-content">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Latest Transaction</h4>
            <div class="table-responsive">
                <table>
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Director)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Duration)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ReleaseDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Country)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Genre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th>
                                Methods
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.Title</td>

                            <td>@item.Director</td>
                            <td>
                                @item.Duration minute
                            </td>
                            <td>
                                @item.ReleaseDate
                            </td>
                            <td>
                                @item.Country
                            </td>
                            <td>
                                @item.Genre
                            </td>
                            <td>
                                @if(item.Status == 1)
                                {
                                    <span>Now Showing</span>
                                }
                            </td>
                            <td style="display: flex;justify-content:space-between;align-items: center">
                                <a class="view-detail" asp-action="Details" asp-route-id="@item.MovieID">Detail</a>
                                <a class="success-brd" asp-action="Edit" asp-route-id="@item.MovieID">Edit</a>
                                <a class="warning-brd" asp-action="Delete" asp-route-id="@item.MovieID">Delete</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
