@model PageAdmin.Models.Shop


@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Shop</h4>
    <hr />
    <div class="card-content">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Latest Transaction</h4>
                <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Location</th>
                                <th>OpenTime</th>
                                <th>Contact</th>
                                <th>Categories</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Html.DisplayFor(model => model.ShopName)</td>

                                <td>@Html.DisplayFor(model => model.ShopLocation)</td>
                                <td>
                                    @Html.DisplayFor(model => model.ShopOpenTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.ShopContact)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.Categories.CategoryName)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div style="padding: 21px; margin-top: 10px">
            <form asp-action="Delete">
                <input type="hidden" asp-for="ShopID" />
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a asp-action="Index" class="create-product" style="margin-left: 20px">Back to List</a>
            </form>
        </div>
    </div>
</div>


