@model PageAdmin.Models.Shop

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Shop</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopOpenTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopOpenTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopAbout)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopAbout)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categories.CategoryID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ShopID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
