
@model ContentListViewModel

<section class="choose-seat">
    <div class="container">
        <div class="row">
            @foreach (var p in Model.Medias)
            {
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="links-list">
                                <li><a href="">Home Page</a><span> > </span></li>
                                <li><a href="">book tickets </a> <span> > </span></li>
                                <li><a href="">@p.Movies.Title</a></li>
                            </ul>
                        </div>
                        <div class="col-md-12 limit">
                            <span>
                                @p.Movies.Description
                            </span>
                        </div>
                        <div class="col-md-12 payment-infor">
                            <div class="row">
                                <!--  -->
                                <div class="col-md-12 payment-page-title">
                                    <i class="far fa-user-circle"></i><span>User Information</span>
                                </div>
                                <form class="col-md-12 payment-form">
                                    <div class="row">
                                        <div class="col-md-4 user-info">
                                            <label>Name:</label>
                                            <input type="text"
                                                   name="name"
                                                   placeholder="Your Name..." />
                                        </div>
                                        <div class="col-md-4 user-info">
                                            <label>Number Phone:</label>
                                            <input type="text"
                                                   name="name"
                                                   placeholder="Number Phone..." />
                                        </div>
                                        <div class="col-md-4 user-info">
                                            <label>Email:</label>
                                            <input type="text"
                                                   name="name"
                                                   placeholder="Email..." />
                                        </div>
                                        <div class="col-md-12 seat-infor">
                                            <div class="row">
                                                <div class="col-md-8 total-seat">
                                                    <input class="disable-input" type="text" name="" id="" value="Ghế VIP" disabled>
                                                </div>
                                                <div class="col-md-2 total-seat"><span>1 * 45000</span></div>
                                                <div class="col-md-2 total-seat"><input class="disable-input" type="text" name="totalPrice" value="45.000 vnđ" disabled></div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-12 mb-3">
                                                    <div class="row">
                                                        <div class="col-md-7"></div>
                                                        <div class="col-md-3 total-title-price">
                                                            <span>Total Price</span>
                                                        </div>
                                                        <div class="col-md-2"><input class="disable-input" type="text" name="totalPrice" value="45.000 vnd" disabled></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mb-3">
                                                    <div class="row">
                                                        <div class="col-md-7"></div>
                                                        <div class="col-md-3 total-title-price">
                                                            <span>Amounts are reduced</span>
                                                        </div>
                                                        <div class="col-md-2">0</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mb-3">
                                                    <div class="row">
                                                        <div class="col-md-7"></div>
                                                        <div class="col-md-3 total-title-price">
                                                            <span>
                                                                Amount to be paid
                                                            </span>
                                                        </div>
                                                        <div class="col-md-2">45.000vnd</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="title-card-payment">
                                                <i class="fas fa-money-check"></i>
                                                <span>Payment methods</span>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 credit-card">
                                                    <input type="radio" value="1" name="medthod">
                                                    <i class="far fa-credit-card"></i>
                                                    <spam>Local card</spam>
                                                </div>
                                                <div class="col-md-4 credit-card">
                                                    <input type="radio" value="2" name="medthod">
                                                    <i class="fab fa-cc-amazon-pay"></i>
                                                    <spam>AirPay</spam>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="col-md-4 movie-ticket-page">
                <div class="row">
                    @foreach (var p in Model.Medias)
                    {
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="~/images/@p.Url" style="width: 100%" alt="" />
                                </div>
                                <div class="col-md-6">
                                    <a href=""
                                       style="
                          font-weight: bold;
                          text-transform: uppercase;
                          font-size: 14px;
                          color: #1786c3;
                        ">@p.Movies.Title</a>
                                    <p>Format: 2D</p>
                    </div>
                </div>
                </div>
                <div class="col-md-12">
                    <ul class="list-unstyled">
                        <li>
                            <div class="row">
                                <div class="col-md-6 title-tickit">
                                    <i class="fas fa-tags"></i>Gerne
                                </div>
                                <div class="col-md-6">
                                    <span class="content-tickit">
                                        @p.Movies.Genre
                                    </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-md-6 title-tickit">
                                    <i class="far fa-clock"></i>Duration
                                </div>
                                <div class="col-md-6">
                                    <span class="content-tickit">@p.Movies.Duration</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12">
                    <hr class="border-dashed border-top-2" />
                </div>
            }
                    @foreach (var p in Model.Shows)
                    {
                        <div class="col-md-12">
                            <ul class="list-unstyled">
                                <li>
                                    <div class="row">
                                        <div class="col-md-6 title-tickit">
                                            <i class="fas fa-university"></i>Cinema
                                        </div>
                                        <div class="col-md-6">
                                            <span class="content-tickit">Beta Thái Nguyên</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-md-6 title-tickit">
                                            <i class="far fa-calendar-alt"></i>Show Date
                                        </div>
                                        <div class="col-md-6">
                                            <span class="content-tickit">@p.StartTime.DayOfYear</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-md-6 title-tickit">
                                            <i class="far fa-clock"></i>Start Times
                                        </div>
                                        <div class="col-md-6">
                                            <span class="content-tickit">@p.StartTime.TimeOfDay minutes</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-md-6 title-tickit">
                                            <i class="fas fa-desktop"></i>Cinema Room
                                        </div>
                                        <div class="col-md-6">
                                            <span class="content-tickit">@p.CinemaHall.Name</span>
                                        </div>
                                    </div>
                                </li>
                                <li></li>
                                <li>
                                    <div class="row">
                                        <div class="col-md-6 title-tickit">
                                            <i class="fas fa-cubes"></i>Seat
                                        </div>
                                        <div class="col-md-6">
                                            <span class="content-tickit"></span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-md-12 submit-ticket">
                                            <a href="" class="buy-ticket">
                                                <span>
                                                    <i class="fas fa-ticket-alt"></i>
                                                </span>
                                                Buy Ticket
                                            </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>