@model IEnumerable<PageAdmin.Models.Booking>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<div class="card-content">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Latest Transaction</h4>
            <div class="table-responsive">
                <table>
                    <thead>
                        <tr>
                            <th>NumberOfSeat</th>
                            <th>Timestamp</th>
                            <th>Status</th>
                            <th>UserBooking</th>
                            <th>Shows</th>
                            <th>Methods</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>@Html.DisplayFor(modelItem => item.NumberOfSeat)</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Timestamp)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserBooking.UserBookingName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Shows.Date)
                                </td>
                                <td style="display: flex;justify-content:space-between;align-items: center">
                                    <a class="view-detail" asp-action="Details" asp-route-id="@item.BookingID">Detail</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfSeat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserBooking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shows)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfSeat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Timestamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserBooking.UserBookingID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shows.ShowID)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.BookingID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@
