@model ContentListViewModel

<section class="choose-seat">
    <div class="container">
        @foreach (var sh in Model.Shows)
        {
            <form class="row" asp-action="index" asp-controller="PaymentTicket" asp-route-CinemaHallID="@sh.CinemaHallID" asp-route-MovieID="@sh.MovieID" asp-route-ShowID="@sh.ShowID">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="links-list">
                                <li><a asp-action="index" asp-controller="Home">Home Page </a><span> > </span></li>
                                <li><a href="">Book Tickets</a></li>
                            </ul>
                        </div>
                        <div class="col-md-12 limit">
                            <span>
                                It can be said that this is the "number 1" choice of many people because Beta Media is the publisher of many famous films both at home and abroad. A system with many theaters, chestnut price is also an advantage that not all theaters have. It can be said that this is the "number 1" choice of many people because Galaxy is the publisher of many movies. famous both at home and abroad. A system with many theaters, chestnut price is also an advantage that not all theaters have.

                            </span>
                        </div>
                        <div class="col-md-12">
                            <div class="row seats">
                                <div class="col-md-3 seat-icon">
                                    <img src="~/image/seat-buy-normal.png" alt="" />
                                    <span>
                                        Seats sold
                                    </span>
                                </div>
                                <div class="col-md-3 seat-icon">
                                    <img src="~/image/seat-process-normal.png" alt="" />
                                    <span>
                                        Selected chair
                                    </span>
                                </div>
                                <div class="col-md-3 seat-icon">
                                    <img src="~/image/seat-set-normal.png" alt="" />
                                    <span>
                                        Seat reservation
                                    </span>
                                </div>
                                <div class="col-md-3 seat-icon">
                                    <img src="~/image/seat-select-normal.png" alt="" />
                                    <span>
                                        Chairs are kept
                                    </span>
                                </div>
                                <div class="col-md-3 seat-icon">
                                    <img src="~/image/seat-unselect-normal.png" alt="" />
                                    <span>
                                        Empty seat
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="screen">
                            <div class="full-screen">
                                <img src="~/image/ic-screen.png" alt="" />
                                <div class="seat-list">
                                    <div class="row">
                                        <div class="form-seat">
                                            @{ int i = 1;}
                                            <div class="col-md-12 col-12 mb-3">
                                                <div class="row seats-list">
                                                    @foreach (var s in Model.CinemaSeats)
                                                    {
                                                        <div class="col-md-3 seat">
                                                            @if (s.Type == 1)
                                                            {
                                                                <label for=@s.CinemaSeatID class="normal-seat-index">
                                                                    <div class="seat-content"><p>@s.SeatNumber</p></div>
                                                                </label>
                                                            }
                                                            @if (s.Type == 2)
                                                            {
                                                                <label for=@s.CinemaSeatID class="vip-seat-index">
                                                                    <div class="seat-content"><p>@s.SeatNumber</p></div>
                                                                </label>
                                                            }
                                                            @if (s.Type == 3)
                                                            {
                                                                <label for=@s.CinemaSeatID class="double-seat-index">
                                                                    <div class="seat-content"><p>@s.SeatNumber</p></div>
                                                                </label>
                                                            }
                                                            <input type="checkbox" id=@s.CinemaSeatID name="seat" class="seat-item" value=@s.SeatNumber>
                                                        </div>
                                                        <p style="display: none"> @(i++)</p>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="seat-type-panel">
                            <div class="row">
                                <div class="col-md-2 col-12 seat-type">
                                    <div class="row">
                                        <div class="col-md-6 col-3 seat-img">
                                            <img src="~/image/seat-unselect-normal.png" alt="" />
                                        </div>
                                        <div class="col-md-6 col-9 seat-des">
                                            <p>Normal Seat</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-12 seat-type">
                                    <div class="row">
                                        <div class="col-md-6 col-3 seat-img">
                                            <img src="~/image/seat-unselect-vip.png" alt="" />
                                        </div>
                                        <div class="col-md-6 col-9 seat-des">
                                            <p>V.I.P Seat</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 col-12 seat-type">
                                    <div class="row">
                                        <div class="col-md-6 col-3 seat-img">
                                            <img src="~/image/seat-unselect-double.png" alt="" />
                                        </div>
                                        <div class="col-md-6 col-9 seat-des">
                                            <p>Double Seat</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 seat-type">
                                    <div class="row">
                                        <div class="col-md-12 col-12 total-title">
                                            <span>Total Price</span>
                                        </div>
                                        <div class="col-md-12 col-12 total-price">
                                            <input type="text" id="TotalPrice" name="price" style="border: none; font-size: 20px; text-align: right; " value="$0" disabled />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        @foreach (var p in Model.Medias)
                        {
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="~/images/@p.Url" style="width: 100%" alt="" />
                                    </div>
                                    <div class="col-md-6">
                                        <a href="" style="font-weight: bold;text-transform: uppercase;font-size: 14px;color:#1786C3;">@p.Movies.Title</a>
                                        <p>
                                            2D subtitles
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <ul class="list-unstyled">
                                    <li>
                                        <div class="row">
                                            <div class="col-md-6 title-tickit">
                                                <i class="fas fa-tags"></i>Gerne
                                            </div>
                                            <div class="col-md-6">
                                                <span class="content-tickit">@p.Movies.Genre </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-md-6 title-tickit"><i class="far fa-clock"></i>Duration</div>
                                            <div class="col-md-6"><span class="content-tickit">@p.Movies.Duration minutes</span></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-12">
                                <hr class="border-dashed border-top-2">
                            </div>
                        }
                        <div class="col-md-12">
                            <ul class="list-unstyled">
                                @foreach (var p in Model.Shows)
                                {
                                    <li>
                                        <div class="row">
                                            <div class="col-md-6 title-tickit"><i class="fas fa-university"></i>Cinema</div>
                                            <div class="col-md-6"><span class="content-tickit">Beta Cineplex</span></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-md-6 title-tickit"><i class="far fa-calendar-alt"></i>Times</div>
                                            <div class="col-md-6"><span class="content-tickit">@p.StartTime</span></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-md-6 title-tickit"><i class="far fa-clock"></i>Start Times</div>
                                            <div class="col-md-6"><span class="content-tickit">@p.StartTime.TimeOfDay</span></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-md-6 title-tickit"><i class="fas fa-desktop"></i>Cinema Room</div>
                                            <div class="col-md-6"><span class="content-tickit">@p.CinemaHall.Name</span></div>
                                        </div>
                                    </li>
                                }
                                <li>
                                    <div class="row">
                                        <div class="col-md-6 title-tickit"><i class="fas fa-cubes"></i>Seat</div>
                                        <div class="col-md-6"><span class="content-tickit" id="seat-cus"></span></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="row">
                                        <div class="col-md-12 submit-ticket">
                                            <button type="submit" class="buy-ticket">
                                                <span>
                                                    <i class="fas fa-ticket-alt"></i>
                                                </span> Buy Ticket
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </form>
        }
    </div>
</section>