@model ContentListViewModel

@foreach (var p in Model.Shops)
{
<section class="slide__shop">
    <img src="@p.Categories.CategoryImage" alt="" />
    <div class="slide__shop-content">
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
        <h3>@p.ShopName</h3>
        <div class="shop__info">
            <div class="date-info">@p.ShopOpenTime</div>
            <div class="category-info">
                <span>|</span>
                @p.Categories.CategoryName
            </div>
        </div>
    </div>
</section>
    <section class="shop">
        <div class="container">
            <div class="row">
                <div class="col-md-12 shop__infor">
                    <p>
                        @p.ShopAbout
                    </p>
                </div>
                <div class="col-md-12 shop__img">
                    <img src="@p.Categories.CategoryImage" alt="" />
                </div>
                <div class="col-md-12 shop__des">
                    <div class="row">
                        <div class="col-md-6 shop__des-infor">
                            <p>
                                @p.ShopAbout
                            </p>
                        </div>
                        <div class="col-md-6 shop__des-img">
                            <img src="@p.Categories.CategoryImage" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12 shop__des">
                    <div class="row">
                        <div class="col-md-6 shop__des-img">
                            <img src="@p.Categories.CategoryImage" alt="" />
                        </div>
                        <div class="col-md-6 shop__des-infor">
                            <p>
                                @p.ShopAbout
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 shop__infor">
                    <p>
                        @p.ShopAbout
                    </p>
                </div>
                <div class="col-md-12 shop__img">
                    <img src="@p.Categories.CategoryImage" alt="" />
                </div>
            </div>
        </div>
    </section>
}
