@*@model ContentListViewModel

@foreach (var p in Model.Medias)
{
<section class="slide__shop">
    <img src="~/images/@p.Url" alt="" />
    <div class="slide__shop-content">
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit</h2>
        <h3>@p.Shops.ShopName</h3>
        <div class="shop__info">
            <div class="date-info">@p.Shops.ShopOpenTime</div>
            <div class="category-info">
                <span>|</span>
               @p.Shops.ShopContact
            </div>
        </div>
    </div>
</section>
}
    <section class="shop">
        <div class="container">
            <div class="row">
                <div class="col-md-12 shop__infor">
                    <p>
                        @p.Shops.ShopAbout
                    </p>
                </div>
                <div class="col-md-12 shop__img">
                    <img src="~/images/@p.ProductImage" alt="" />
                </div>
                <div class="col-md-12 shop__des">
                    <div class="row">
                        <div class="col-md-6 shop__des-infor">
                            <p>
                                @p.Shops.ShopAbout
                            </p>
                        </div>
                        <div class="col-md-6 shop__des-img">
                            <img src="~/images/@p.ProductImage" alt="" />
                        </div>
                    </div>
                </div>
                <div class="col-md-12 shop__des">
                    <div class="row">
                        <div class="col-md-6 shop__des-img">
                            <img src="~/images/@p.ProductImage" alt="" />
                        </div>
                        <div class="col-md-6 shop__des-infor">
                            <p>
                                @p.Shops.ShopAbout
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 shop__infor">
                    <p>
                        @p.Shops.ShopAbout
                    </p>
                </div>
                <div class="col-md-12 shop__img">
                    <img src="~/images/@p.ProductImage" alt="" />
                </div>
            </div>
        </div>
    </section>*@